n8n_attachments.json
{
  "name": "n8n_attachments",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5b0171e8-f6df-4145-b3d9-cfc4fe5fd061",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "5mlo2Xj8ZfJDRAjD",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5b1ea46-5923-4789-b8ac-85c738a3727f",
              "leftValue": "={{ $('Gmail Trigger').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "fec31bf5-b7fa-4c6c-b9ec-a0b01fe5cb81",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "420e9426-fb14-48c0-874e-996063403abe",
      "name": "Get a message",
      "webhookId": "e1658dd3-e1db-40d5-a9ae-c5966f9954d4",
      "credentials": {
        "gmailOAuth2": {
          "id": "5mlo2Xj8ZfJDRAjD",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0ff2dbf-229c-4280-8421-7acc68d8729f",
              "name": "attachments",
              "value": "={{ $('Get a message').item.binary.keys() }}",
              "type": "array"
            },
            {
              "id": "a1053c38-eabb-4df7-a21c-284af5db6682",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -112
      ],
      "id": "6eef1cda-d850-4272-aa20-a5f88ea5d1e4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        848,
        -112
      ],
      "id": "84a951bd-75a4-44e0-84f0-ccd8a50d9ed2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        0
      ],
      "id": "9997c85f-77dc-40c1-8439-e10463163ee3",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $json.attachments }}",
        "name": "={{ $('Get a message').item.json.subject }}_{{ $('Merge').item.json.attachments }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1PFaI4CPDLWIDPmENgqmnk7A9nMIowPqG",
          "mode": "list",
          "cachedResultName": "n8n_attchements",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PFaI4CPDLWIDPmENgqmnk7A9nMIowPqG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1248,
        0
      ],
      "id": "c96a6103-8b97-47f4-809b-afeb53578def",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Aou1yNaGvgCYtz9z",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a76da331-16d2-4ff1-9b03-e924d9d4a25a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b74035fcf0d67b018e0196ae5f23f5660fb24728756eff02c8859bc7931de5ce"
  },
  "id": "2XhEFEa0zjcF71Jg",
  "tags": []
}